.app__container {
	/* Flex container for the app */
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.app__body {
	/* Flex container for app body */
	display: flex;

	/* Fill remaining vertical height */
	flex:1 ;
}
